version: 2.1

jobs:
  rubocop:
    docker:
      - image: circleci/ruby:2.7.4-node-browsers
    working_directory: ~/repo

    steps:
      - checkout
      - run:
          name: check directory
          command: |
            pwd
      - run:
          name: install dependencies
          command: |
            bundle install
      - run:
          name: run rubocop
          command: |
            bundle exec rubocop
      - run:
          name: Run unit test rspec
          command: |
            bundle exec rspec
workflows:
  push:
    jobs:
      - rubocop:
          filters:
            branches:
              only:
                - /.*/
