version: 2.1

jobs:
  build:
    docker:
      - image: circleci/ruby:2.7.4-node-browsers
      - checkout
      - run:
          command: |
            ruby --version & ls

workflows:
  deploy:
    jobs:
      - build-and-push:
          filters:
            branches:
              only:
                - test/ci
