version: 2.1

jobs:
  build:
    environment:
      DOCKER_IMAGE: circleci/ruby:2.7.4-node-browsers
      DOCKER_TAG: latest
    steps:
      - checkout
      - docker/build:
          image: $DOCKER_IMAGE
          tag: $DOCKER_TAG
      # - run:
      #     command: |
      #       gem install rails
      # - run:
      #     command: |
      #       bundle install
      # - run:
      #     command: |
      #       bundle exec rubocop

workflows:
  deploy:
    jobs:
      - build:
          filters:
            branches:
              only:
                - test/ci
